@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { 
    padding-bottom: 10px;
    background-color: #90d4c5;
    font-size: 11px; text-align: center; 
    animation: color-change 8s ease-in-out infinite alternate;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

.header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header .head-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    font-size: 3vw;
    letter-spacing: 5px;
    gap: 100px;
}

.header .head-container h1 {
    animation: head-h1 1s ease-in-out 350ms forwards;
    transform: scale(0);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.overlay.blur {
    position: fixed;
    height: 100vh;
    width: 100vw;
    animation: blur-amination 500ms ease-in-out forwards alternate;
    z-index: 50;
}

.overlay {
    transition: 1s ;
}

.menu {
    background-color: whitesmoke;
    position: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 350px;
    font-size: 4.5vh;
    z-index: 200;
    display: none;
}

.menu a {
    text-decoration: none;
    color: rgb(65, 65, 65);
}
.menu .menu-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 15%;
}

.menu::before {
    content: "";
    display: block;
    margin-top: -50px;
    margin-left: 300px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent whitesmoke transparent;
}

.menu .btn-contact {
    font-weight: 700;
    background-color: rgb(255, 230, 0);
    color: black;
    font-size: 3.5vh;
    padding: 15px 30px;
    border-radius: 30px;
}

.arrow {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.arrow:hover {
    margin-top: 1.5%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 60px;
    animation: nav-load 0.6s ease-in;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
}

.navbar .btn-contact {
    font-weight: 700;
    background-color: white;
    color: black;
    font-family: 'Poppins';
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.5 ease;
}

.navbar .btn-contact:hover {
    color: white;
    background-color: rgb(0, 220, 228);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
}

.main-container a {
    font-weight: 900;
    text-decoration: none;
    color: black;
    display: inline-block;
    transition: 0.3s ease-in-out;
}

.content-1 a:hover {
    box-shadow: rgba(238, 255, 0, 0.4) 0px 5px, rgba(233, 250, 0, 0.3) 0px 10px, rgba(223, 190, 7, 0.2) 0px 15px, rgba(246, 250, 0, 0.1) 0px 20px, rgba(251, 255, 0, 0.05) 0px 25px;
}

.content-4 a:hover {
    box-shadow: rgba(250, 3, 3, 0.4) 0px 5px, rgba(255, 2, 36, 0.3) 0px 10px, rgba(240, 46, 111, 0.2) 0px 15px, rgba(240, 46, 72, 0.1) 0px 20px, rgba(240, 46, 95, 0.05) 0px 25px;
}

.main-container .content-1 {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 20%;
    gap: 50px;
    width: 100%;
}

.main-container .content-2 {
    background-image: url(images/desktop/image-transform.jpg);
    background-size: cover;
    padding: 20%;
    width: 100%;
}

.main-container .content-3 {
    background-image: url(images/desktop/image-stand-out.jpg);
    background-size: cover;
    padding: 20%;
    width: 100%;
}

.main-container .content-4 {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 50px;
    padding: 20%;
    width: 100%;
}

.main-container .content-5 {
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-size: cover;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    width: 100%;
    text-align: center;
    padding: 20%;
    padding-bottom: 50px;
}

.main-container .content-6 {
    background-image: url(images/desktop/image-photography.jpg);
    background-size: cover;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    width: 100%;
    text-align: center;
    padding: 20%;
    padding-bottom: 50px;
}

.main-container-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15%;
    gap: 100px;
}

.main-container-2 h2 {
    opacity: 0.6;
    letter-spacing: 5px;
    font-weight: 900;
}

.main-container-2 .clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 30vh;
    width: 80%;
}

.main-container-2 .client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.main-container-2 .client-img{
    border-radius: 80px;
}

.main-container-2 .client-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

.main-container-2 p {
    margin: 10px;
    opacity: 0.7;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
}

.main-container-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 50vh;
}

.img-1 {
    background-image: url(images/desktop/image-gallery-milkbottles.jpg);
    background-size: cover;
}

.main-container-3 .img-2 {
    background-image: url(images/desktop/image-gallery-cone.jpg);
    background-size: cover;
}

.main-container-3 .img-3 {
    background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
    background-size: cover;
}

.main-container-3 .img-4 {
    background-image: url(images/desktop/image-gallery-orange.jpg);
    background-size: cover;
}

.footer {
    background-color: #90d4c5;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    word-spacing: 50px;
    animation: color-change 8s ease-in-out infinite alternate;
}

.footer-logo {
    cursor: pointer;
    height: 40px;
}

.footer a {
    font-size: 20px;
    text-decoration: none;
    color: #2e7565;
}

.footer .footer-icons {
    margin-top: 60px;
    cursor: pointer;
    word-spacing: 20px;
}

@keyframes blur-amination {
    0% {
        backdrop-filter: blur(0);
    }

    100% {
        backdrop-filter: blur(8px);
    }
}

@keyframes color-change {
    0% {
        background: #90d4c5;
    }

    50% {
        background: lightgreen;
    }

    100% {
        background: lightblue;
    }
}

@keyframes head-h1 {
    0% {
        opacity: 0;
        transform: scale(200%);
    }

    100% {
        transform: scale(100%);
        opacity: 1;
    }
}

@keyframes nav-load {
    0% {
        transform: translateY(-100%);
        opacity: 0.5;
    }

    80% {
        transform: translateY(15%);
    }

    90% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes menu-animation {
    0% {
        transform: translateY(-100%);
    }

    60% {
        transform: translateY(10%);
    }

    80% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 768px) {
    * {
        font-size: 100%;
        overflow-wrap: break-word;
    }
    .navbar {
        height: 60px;
        padding: 40px;
    }
    .navbar a {
        display: none;
    }
    .hamburger {
        display: inline;
    }
    .menu.open {
        animation: menu-animation 0.6s ease-in-out;
        height: 50vh;
        display: block;
    }
    .header {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(images/mobile/image-header.jpg);
    }
    .header .head-container {
        margin-top: 100px;
        font-size: 10vw;
        gap: 100px;
        text-align: center;
    }
    .main-container {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-areas:
        "content-2"
        "content-1"
        "content-3"
        "content-4"
        "content-5"
        "content-6";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .main-container .content-1 {
        align-items: center;
        text-align: center;
        font-size: 2.5vh;
        height: 50vh;
        padding: 10%;
    }
    .main-container .content-2 {
        height: 50vh;
    }
    .main-container .content-3 {
        height: 50vh;
    }
    .main-container .content-4 {
        align-items: center;
        text-align: center;
        font-size: 2.5vh;
        padding: 10%;
        height: 50vh;
    }
    .main-container .content-5 {
        height: 100%;
        font-size: 2.5vh;
        padding-bottom: 10px;
        gap: 20px;
        padding: 10%;
        width: 100%;
        height: 100%;
    }
    .main-container .content-6 {
        padding-bottom: 10px;
        height: 100%;
        font-size: 2.5vh;
        gap: 20px;
        padding: 10%;
        width: 100%;
        height: 100%;
    }
    .main-container-2 {
        padding-top: 50px;
        text-align: center;
        height: 100%;
        display: inline-block;
    }
    .main-container-2 .clients {
        margin-top: 50px;
        display: grid;
        gap: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100%;
        width: 100%;
    }
    .main-container-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
}